body	{
	background: linear-gradient(#00FFFF, #FF66CC);

	}
	
	
	
	h1 {
	
		text-shadow:1px 1px 0 #9e45cc;
	}
	
	
	img {
	width:200px;
	}
	
	{
	h2	{
		font-family:"Lucida Sans Typewriter;"
			}
			
			